@font-face {
  font-display: swap;
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poiret-one-v17-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v23-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/poppins-v23-latin-600.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --clr-blk: #1c1c1c;
    --clr-white: #fff;
    --clr-offWhite: #f8f8f8;
    --clr-grey: #c4c4c4;
    --clr-lightGrey: #807f7f;
    --clr-darkGrey: #313030;
    --clr-lightBrown: #a68e8e;
    --clr-focusBlue: #0060df;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--clr-lightBrown);
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--clr-offWhite);
    color: var(--clr-blk);
    cursor: default;
}
.wrapper {
    max-width: 90rem;
}
/* Nav */
.mobile-header {
    display: none;
}
.links {
    position: relative;
}
.links ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.links ul li {
    display: inline-block;
    font-size: clamp(.95rem, 3vw, 1rem);
    font-family: 'Poiret One', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    list-style: none;
    padding: 1rem;
}
.links ul li a {
    position: relative;
    color: var(--clr-darkGrey);
    text-decoration: none;
    letter-spacing: 2px;
    transition: 350ms ease all;
    -webkit-tap-highlight-color: transparent;
}
.links ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: .5px;
    background-color: var(--clr-darkGrey);
    transition: 350ms ease;
}
.links ul li a:hover::before {
    width: 100%;
    left: 0;
}
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}
.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}
.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-white);
    transition: 350ms ease;
}
.bars::before {
    transform: translateY(-4px);
}
.bars::after {
    transform: translateY(4px);
}
nav.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}
nav.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}
/* Contact Form */
.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--clr-darkGrey);
    width: 80%;
    margin: 100px auto;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.left img {
    display: block;
    width: 100%;
    height: auto;
    padding: .5rem;
    border-radius: 15px;
    color: var(--clr-offWhite);
    font-family: 'Poppins', sans-serif;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
}
.right h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--clr-offWhite);
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    letter-spacing: 1px;
    margin-bottom: .75rem;
}
.right .contact-form {
    display: flex;
    flex-direction: column;
}
.right .contact-form input,
.right .contact-form textarea {
    width: 100%;
    height: 30px;
    margin: 4px auto;
    border-radius: 3px;
    font-size: 1rem;
    background-color: var(--clr-white);
    padding-left: .25rem;
    border: 1px solid transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
}
.right .contact-form input:focus,
.right .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--clr-focusBlue);
    border-radius: 5px;
    -webkit-border-radius: 3px;
}
.right .contact-form input::placeholder,
.right .contact-form textarea::placeholder {
    color: var(--clr-darkGrey);
}
.right .contact-form textarea {
    min-height: 95px;
    resize: none;
    padding-top: .25rem;
}
.right .contact-form button {
    display: block;
    margin: 3px auto 10px;
    width: 100%;
    padding: .48rem;
    letter-spacing: .5px;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 250ms ease-out;
    -webkit-tap-highlight-color: transparent;
}
/* Footer */
footer {
    background: var(--clr-darkGrey);
    color: var(--clr-offWhite);
    font-family: 'Poppins', sans-serif;
    padding: 1.75rem 2.5rem;
}
footer .grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 5rem;
    align-content: center;
    justify-content: center;
}
footer h2 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(.8rem, 3vw, .9rem);
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 2;
    text-transform: uppercase;
}
footer .about p {
    font-size: clamp(.8rem, 3vw, .85rem);
    letter-spacing: .25px;
    line-height: 1.6;
    margin-top: .5rem;
    width: 95%;
}
footer .about ul {
    display: flex;
    margin-top: 1rem;
}
footer ul li {
    list-style: none;
}
footer .about ul li i {
    margin-right: 2rem;
}
footer .quick-links ul li {
    text-transform: capitalize;
    margin-top: .5rem;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: clamp(.85rem, 3vw, .9rem);
}
/* Media Query's */
@media screen and (max-width: 1195px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Poiret One', sans-serif;
        background: var(--clr-darkGrey);
        margin: 0 auto;
        padding: .75rem;
    }
    .mobile-header img {
        width: 30px;
        margin-bottom: .75rem;
    }
    .mobile-header h1 {
        position: relative;
        left: 1rem;
        font-weight: 500;
        font-size: clamp(1.65rem, 3vw, 1.75rem);
    }
    .mobile-header a {
        color: var(--clr-white);
        text-decoration: none;
    }
    nav.active .links {
        transform: translateX(0);
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--clr-white);
        transform: translateX(100%);
        transition: 300ms;
        overflow-y: auto;
        z-index: 1;
    }
    .links ul {
        position: relative;
        flex-direction: column;
        right: 0;
    }
    .links ul li {
        padding: 1.75rem;
    }
    .links ul li a {
        color: var(--clr-blk);
    }
    .links ul li a::before {
        content: none;
    }
    nav.active .bars::before,
    nav.active .bars::after {
        background-color: var(--clr-blk);
    }
    .hamburger-menu {
        display: flex;
    }
    .content-wrapper {
        grid-template-columns: repeat(1, 1fr);
        max-width: 700px;
        margin: 75px auto;
    }
    .right .contact-form input:focus,
    .right .contact-form textarea:focus {
        box-shadow: 0 0 0 3px var(--clr-focusBlue);
    }
    footer .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 990px) {
    .right h1 {
        margin-bottom: .25rem;
    }
    footer {
        padding: 1rem 1.5rem;
    }
}
@media screen and (max-width: 725px) {
    footer .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem 10rem;
    }
}
@media screen and (max-width: 300px) {
    .mobile-header h1 {
        left: .5rem;
    }
}
@media screen and (orientation: landscape) and (max-width: 935px) {
    .links ul li {
        padding: 1.1rem;
    }
}
/* Dark Mode */
@media screen and (prefers-color-scheme: dark) and (max-width: 1195px) {
    .links {
        background-color: var(--clr-blk);
    }
    .links ul li a {
        color: var(--clr-grey);
    }
}
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: var(--clr-blk);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--clr-grey);
    }
    body {
        color: var(--clr-grey);
        background-color: var(--clr-blk);
    }
    .mobile-header a {
        color: var(--clr-offWhite);
    }
    .links ul li a {
        color: var(--clr-grey);
    }
    .links ul li a::before {
        background-color: var(--clr-grey);
    }
    .bars::before,
    .bars::after {
        background-color: var(--clr-grey);
    }
    nav.active .hamburger-menu .bars::before,
    nav.active .hamburger-menu .bars::after {
        background-color: var(--clr-grey);
    }
    .content-wrapper {
        border: solid 2px var(--clr-grey);
    }
    .right .contact-form input,
    .right .contact-form textarea {
        background-color: var(--clr-offWhite);
    }
}